@import url("./public/stylesheets/style-wiz/index.css");
@import url("./public/stylesheets/variables.css");
@import url("./public/stylesheets/animations.css");
@import url("./public/stylesheets/grid.min.css");
@import url("./public/stylesheets/reset.css");
@import url("./public/fonts/icons/style.css");

h1 {
  font-size: var(--font-size-h-md);
  font-weight: bold;
}

h2 {
  font-size: var(--font-size-h-sm);
  font-weight: bold;
}

h3 {
  font-size: var(--font-size-lg);
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: unset;
  /* line-height: var(--text-line-height); */
  scroll-behavior: smooth;
  font-family: inherit;
  font-display: optional;
  /* for changing theme smoothly */
  transition: background-color 0.1s linear;
}

/* *, ::after, ::before {} */
html {
  font-family: IBM Plex Sans, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}

/* #region selection style */
*::selection {
  color: white;
  background-color: var(--color-brand-main);
}

*::-moz-selection {
  color: white;
  background-color: var(--color-brand-main);
}
/* #endregion */

/* default dir is ltr */
html[dir="rtl"] .icon-dir {
  display: inline-block;
  transform: rotate(180deg);
}

/* #region scrollbar */
::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: var(--scrollbar-height);
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-brand-lighter);
  border-radius: 10px;
  transition: all 0.3s;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-brand-dark);
  border-radius: 10px;
  transition: all 0.3s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-brand-variant);
  border-radius: 10px;
  transition: all 0.3s;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none !important;
}

/* firefox */
* {
  scrollbar-color: var(--color-brand-main) var(--color-brand-lighter);
  scrollbar-width: thin;
}
/* #endregion */
