:root {
  --layout-header-height: 100px;
  --layout-subscribe-newsletter-height: 350px;
  /* --layout-footer-height: 350px; */

  --scrollbar-width: 4px;
  --scrollbar-height: 4px;

  --overlay-z-index: 10000;

  /* Components */
  /*   Kits */
  /*     Button */
  --button-height: 3rem;
  --button-curve: var(--curve-sm);
  /*     Icon Button */
  --icon-button-height: 2.5rem;
  /*     Text */
  --text-line-height: 1.7;
  --text-letter-spacing: 1px;
  /*     ListView */
  --list-view-item-height: 70px;
  /*     Toast */
  --toast-width: 320px;
}

.thin-scrollbar {
  --scrollbar-width: 2px;
  --scrollbar-height: 2px;
}
