@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vzmo0q');
  src:  url('fonts/icomoon.eot?vzmo0q#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vzmo0q') format('truetype'),
    url('fonts/icomoon.woff?vzmo0q') format('woff'),
    url('fonts/icomoon.svg?vzmo0q#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="mili-"], [class*=" mili-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mili-code-icon:before {
  content: "\e902";
}
.mili-moon-icon:before {
  content: "\e92a";
}
.mili-hash-icon:before {
  content: "\e909";
}
.mili-nested-list-icon:before {
  content: "\e90a";
}
.mili-clock-icon:before {
  content: "\e90c";
}
.mili-time-icon:before {
  content: "\e90c";
}
.mili-history-icon:before {
  content: "\e90c";
}
.mili-list-icon:before {
  content: "\e90d";
}
.mili-info-icon:before {
  content: "\e90f";
}
.mili-headphones-icon:before {
  content: "\e913";
}
.mili-music-icon:before {
  content: "\e913";
}
.mili-song-icon:before {
  content: "\e913";
}
.mili-film-icon:before {
  content: "\e918";
}
.mili-show-icon:before {
  content: "\e918";
}
.mili-book-icon:before {
  content: "\e927";
}
.mili-suitcase-icon:before {
  content: "\e9ae";
}
.mili-sun-icon:before {
  content: "\e9d4";
}
.mili-download-cloud-icon:before {
  content: "\e901";
}
.mili-download-icon:before {
  content: "\e904";
}
.mili-copy-outline-icon:before {
  content: "\e915";
}
.mili-focus-center-icon:before {
  content: "\e91a";
}
.mili-timeline-icon:before {
  content: "\e91c";
}
.mili-calendar-icon:before {
  content: "\e900";
}
.mili-gallery-icon:before {
  content: "\e903";
}
.mili-tools-icon:before {
  content: "\e906";
}
.mili-measure-icon:before {
  content: "\e906";
}
.mili-education-icon:before {
  content: "\e905";
}
.mili-chevron-right-icon:before {
  content: "\e923";
}
.mili-whatsapp-icon:before {
  content: "\e91d";
  color: #25d366;
}
.mili-telegram-icon:before {
  content: "\e91e";
  color: #2ca5e0;
}
.mili-skype-icon:before {
  content: "\e91f";
  color: #00aff0;
}
.mili-linkedin-icon:before {
  content: "\e920";
  color: #0077b5;
}
.mili-email-icon:before {
  content: "\e921";
  color: #d14836;
}
